<a href="https://colab.research.google.com/github/prathmeshpatil98/ODI_Cricket_2023/blob/main/WebScrap_ODI_Cricket_match_r_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# URL of the webpage to scrape
url = "https://www.espncricinfo.com/records/year/team-match-results/2023-2023/one-day-internationals-2"

# Read the tables from the URL into a list of DataFrames
tables = pd.read_html(url)

# Check the number of tables found
print(f"Found {len(tables)} tables on the webpage")
df = tables[0]
# Assuming the table you want is the first one (you may need to inspect the webpage to verify)
if len(tables) > 0:
    # Select the first DataFrame (or the one that contains the data you need)
    df = tables[0]

    # Print the DataFrame to see the scraped data
    print(df)
else:
    print("No tables found on the webpage")

Found 1 tables on the webpage
           Team 1       Team 2        Winner     Margin        Ground  \
0        Pakistan  New Zealand      Pakistan  6 wickets       Karachi
1           India    Sri Lanka         India    67 runs      Guwahati
2        Pakistan  New Zealand   New Zealand    79 runs       Karachi
3           India    Sri Lanka         India  4 wickets  Eden Gardens
4        Pakistan  New Zealand   New Zealand  2 wickets       Karachi
..            ...          ...           ...        ...           ...
159   Netherlands     Pakistan      Pakistan    81 runs     Hyderabad
160   Afghanistan   Bangladesh    Bangladesh  6 wickets    Dharamsala
161  South Africa    Sri Lanka  South Africa   102 runs         Delhi
162         India    Australia         India  6 wickets       Chennai
163   Netherlands  New Zealand             -          -     Hyderabad

       Match Date   Scorecard
0     Jan 9, 2023  ODI # 4500
1    Jan 10, 2023  ODI # 4501
2    Jan 11, 2023  ODI # 4502
3    Jan 12, 2023  ODI # 4503
4    Jan 13, 2023  ODI # 4504
..            ...         ...
159   Oct 6, 2023  ODI # 4659
160   Oct 7, 2023  ODI # 4660
161   Oct 7, 2023  ODI # 4661
162   Oct 8, 2023  ODI # 4662
163   Oct 9, 2023  ODI # 4663

[164 rows x 7 columns]

In [ ]:
df.to_csv('Odi_match_result.csv', index=False)

In [ ]:
result_data = pd.read_csv('Odi_match_result.csv')
result_data

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Pakistan,New Zealand,Pakistan,6 wickets,Karachi,"Jan 9, 2023",ODI # 4500
1,India,Sri Lanka,India,67 runs,Guwahati,"Jan 10, 2023",ODI # 4501
2,Pakistan,New Zealand,New Zealand,79 runs,Karachi,"Jan 11, 2023",ODI # 4502
3,India,Sri Lanka,India,4 wickets,Eden Gardens,"Jan 12, 2023",ODI # 4503
4,Pakistan,New Zealand,New Zealand,2 wickets,Karachi,"Jan 13, 2023",ODI # 4504
...,...,...,...,...,...,...,...
159,Netherlands,Pakistan,Pakistan,81 runs,Hyderabad,"Oct 6, 2023",ODI # 4659
160,Afghanistan,Bangladesh,Bangladesh,6 wickets,Dharamsala,"Oct 7, 2023",ODI # 4660
161,South Africa,Sri Lanka,South Africa,102 runs,Delhi,"Oct 7, 2023",ODI # 4661
162,India,Australia,India,6 wickets,Chennai,"Oct 8, 2023",ODI # 4662
163,Netherlands,New Zealand,-,-,Hyderabad,"Oct 9, 2023",ODI # 4663

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# URL of the webpage to scrape
url = "https://www.espncricinfo.com/records/year/team-match-results/2023-2023/one-day-internationals-2"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content of the page
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the anchor tags (a elements) in the HTML
    all_links = soup.select('table tbody tr td:nth-child(7) a')

    # Extract the href attributes (URL links)
    links = [("https://www.espncricinfo.com" +link.get('href')) for link in all_links if link.get('href')]

    # Create a pandas DataFrame to store the links
    df = pd.DataFrame({'Links': links})

    # Print the DataFrame to see the extracted links
    print(df)
else:
    print("Failed to retrieve the webpage. Status code:", response.status_code)

                                                 Links
0    https://www.espncricinfo.com/series/new-zealan...
1    https://www.espncricinfo.com/series/sri-lanka-...
2    https://www.espncricinfo.com/series/new-zealan...
3    https://www.espncricinfo.com/series/sri-lanka-...
4    https://www.espncricinfo.com/series/new-zealan...
..                                                 ...
159  https://www.espncricinfo.com/series/icc-cricke...
160  https://www.espncricinfo.com/series/icc-cricke...
161  https://www.espncricinfo.com/series/icc-cricke...
162  https://www.espncricinfo.com/series/icc-cricke...
163  https://www.espncricinfo.com/series/icc-cricke...

[164 rows x 1 columns]

In [ ]:
dfalllinks = df

In [ ]:
print(dfalllinks['Links'][0])

https://www.espncricinfo.com/series/new-zealand-in-pakistan-2022-23-1339576/pakistan-vs-new-zealand-1st-odi-1339611/full-scorecard

In [ ]:
import pandas as pd

# URL of the webpage to scrape
url = "https://www.espncricinfo.com/series/new-zealand-in-pakistan-2022-23-1339576/pakistan-vs-new-zealand-1st-odi-1339611/full-scorecard"

# Read the tables from the URL into a list of DataFrames
tables = pd.read_html(url)

# Check the number of tables found
print(f"Found {len(tables)} tables on the webpage")
df = tables[0]
# Assuming the table you want is the first one (you may need to inspect the webpage to verify)
if len(tables) > 0:
    # Select the first DataFrame (or the one that contains the data you need)
    df = tables[0]

    # Print the DataFrame to see the scraped data
    print(df)
else:
    print("No tables found on the webpage")

Found 9 tables on the webpage
                                              BATTING  \
0                                          Finn Allen
1                                                 NaN
2                                        Devon Conway
3                                                 NaN
4                                 Kane Williamson (c)
5                                                 NaN
6                                      Daryl Mitchell
7                                                 NaN
8                                        Tom Latham †
9                                                 NaN
10                                     Glenn Phillips
11                                                NaN
12                                  Michael Bracewell
13                                                NaN
14                                   Mitchell Santner
15                                                NaN
16                                      Henry Shipley
17                                                NaN
18                                        Tim Southee
19                                    Lockie Ferguson
20                                             Extras
21                                              TOTAL
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                           Unnamed: 1  \
0                      c Agha Salman b Mohammad Wasim
1                                                 NaN
2                                       b Naseem Shah
3                                                 NaN
4                                         b Usama Mir
5                                                 NaN
6                                    b Mohammad Nawaz
7                                                 NaN
8                          c Fakhar Zaman b Usama Mir
9                                                 NaN
10                         c Babar Azam b Naseem Shah
11                                                NaN
12                                      b Naseem Shah
13                                                NaN
14                     c Mohammad Nawaz b Naseem Shah
15                                                NaN
16                                      b Naseem Shah
17                                                NaN
18                                            not out
19                                            not out
20                                   (b 1, lb 2, w 2)
21                         50 Ov (RR: 5.10, 229 Mins)
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                    R  \
0                                                  29
1                                                 NaN
2                                                   0
3                                                 NaN
4                                                  26
5                                                 NaN
6                                                  36
7                                                 NaN
8                                                  42
9                                                 NaN
10                                                 37
11                                                NaN
12                                                 43
13                                                NaN
14                                                 21
15                                                NaN
16                                                  0
17                                                NaN
18                                                 15
19                                                  1
20                                                  5
21                                              255/9
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                    B  \
0                                                  27
1                                                 NaN
2                                                   1
3                                                 NaN
4                                                  39
5                                                 NaN
6                                                  55
7                                                 NaN
8                                                  52
9                                                 NaN
10                                                 53
11                                                NaN
12                                                 42
13                                                NaN
14                                                 18
15                                                NaN
16                                                  1
17                                                NaN
18                                                 11
19                                                  1
20                                                NaN
21                                                NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                    M  \
0                                                  40
1                                                 NaN
2                                                   5
3                                                 NaN
4                                                  66
5                                                 NaN
6                                                  76
7                                                 NaN
8                                                  67
9                                                 NaN
10                                                 78
11                                                NaN
12                                                 62
13                                                NaN
14                                                 28
15                                                NaN
16                                                  2
17                                                NaN
18                                                 22
19                                                  5
20                                                NaN
21                                                NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                   4s  \
0                                                   6
1                                                 NaN
2                                                   0
3                                                 NaN
4                                                   3
5                                                 NaN
6                                                   1
7                                                 NaN
8                                                   3
9                                                 NaN
10                                                  1
11                                                NaN
12                                                  4
13                                                NaN
14                                                  3
15                                                NaN
16                                                  0
17                                                NaN
18                                                  1
19                                                  0
20                                                NaN
21                                                NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                   6s  \
0                                                   0
1                                                 NaN
2                                                   0
3                                                 NaN
4                                                   0
5                                                 NaN
6                                                   0
7                                                 NaN
8                                                   0
9                                                 NaN
10                                                  1
11                                                NaN
12                                                  1
13                                                NaN
14                                                  0
15                                                NaN
16                                                  0
17                                                NaN
18                                                  0
19                                                  0
20                                                NaN
21                                                NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                                   SR  \
0                                              107.40
1                                                 NaN
2                                                0.00
3                                                 NaN
4                                               66.66
5                                                 NaN
6                                               65.45
7                                                 NaN
8                                               80.76
9                                                 NaN
10                                              69.81
11                                                NaN
12                                             102.38
13                                                NaN
14                                             116.66
15                                                NaN
16                                               0.00
17                                                NaN
18                                             136.36
19                                             100.00
20                                                NaN
21                                                NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...

                                           Unnamed: 8  Unnamed: 9
0                                                 NaN         NaN
1                                                 NaN         NaN
2                                                 NaN         NaN
3                                                 NaN         NaN
4                                                 NaN         NaN
5                                                 NaN         NaN
6                                                 NaN         NaN
7                                                 NaN         NaN
8                                                 NaN         NaN
9                                                 NaN         NaN
10                                                NaN         NaN
11                                                NaN         NaN
12                                                NaN         NaN
13                                                NaN         NaN
14                                                NaN         NaN
15                                                NaN         NaN
16                                                NaN         NaN
17                                                NaN         NaN
18                                                NaN         NaN
19                                                NaN         NaN
20                                                NaN         NaN
21                                                NaN         NaN
22  Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...         NaN

In [ ]:
df.to_csv('ODI_cric_bat_result.csv', index=False)

In [ ]:
result_data = pd.read_csv('ODI_cric_bat_result.csv')
result_data

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Finn Allen,c Agha Salman b Mohammad Wasim,29,27,40,6,0,107.40,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Devon Conway,b Naseem Shah,0,1,5,0,0,0.00,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kane Williamson (c),b Usama Mir,26,39,66,3,0,66.66,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Daryl Mitchell,b Mohammad Nawaz,36,55,76,1,0,65.45,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tom Latham †,c Fakhar Zaman b Usama Mir,42,52,67,3,0,80.76,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Glenn Phillips,c Babar Azam b Naseem Shah,37,53,78,1,1,69.81,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Michael Bracewell,b Naseem Shah,43,42,62,4,1,102.38,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Mitchell Santner,c Mohammad Nawaz b Naseem Shah,21,18,28,3,0,116.66,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Henry Shipley,b Naseem Shah,0,1,2,0,0,0.00,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Tim Southee,not out,15,11,22,1,0,136.36,NaN,NaN
19,Lockie Ferguson,not out,1,1,5,0,0,100.00,NaN,NaN
20,Extras,"(b 1, lb 2, w 2)",5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,TOTAL,"50 Ov (RR: 5.10, 229 Mins)",255/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...","Fall of wickets: 1-1 (Devon Conway, 0.6 ov), 2...",NaN